[nz-carousel-content] {
    text-align: center;
    height: 160px;
    line-height: 160px;
    background: #364d79;
    color: #fff;
    overflow: hidden;
  }

  .carruselPrincipal{
    height: 600px;
    width: 100%;
  }

  .carruselPrincipal img{
    width: 100%;
  }

  h3 {
    color: #fff;
    margin-bottom: 0;
    user-select: none;
  }