[nz-carousel-content] {
  text-align: center;
  height: 720px;
  line-height: 160px;
  background: #1e1e1e;
  color: rgb(255, 255, 255);
  overflow: hidden;
}

.containerCarrusel{
  height: 450px;
}



h3 {
  color: rgb(255, 255, 255);
  margin-bottom: 0;
  user-select: none;
}