<!--<h2>MODIFICADO</h2>-->
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-dark ">
    <!-- Container wrapper -->
    <div class="container-fluid ">
        <!-- Toggle button -->
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
            data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fa-bars" id="buttonBars"></i>
        </button>
        <div class="titulo">
            <h1 class="mb-0 mt-1">POINT TECHNOLOGIC</h1>
                <!-- <a class="navbar-brand mt-lg-0" href="#">
                <i class="fas fa-pizza-slice"></i>
                <!-- <img src="./assets/logo/LOGO.png" height="28" alt="" loading="lazy" /> 
                </a>-->
        </div>
        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse"  id="navbarSupportedContent">
            <!-- Navbar brand -->

            <!-- Menu -->
            <ul class="navbar-nav me-auto mx-3 mb-2 mb-lg-0 ">
                <li class="nav-item mx-2">
                    <!-- Buscar -->
                    <div class="input-group rounded">
                        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                            aria-describedby="search-addon" />
                    </div>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link text-light" href="#"><span>Ofertas</span></a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link text-light " href="#"><span>Team</span></a>
                </li>
            </ul>
            <!-- Left links -->
        </div>
        <!-- Collapsible wrapper -->


        <!-- Right elements -->
        <div class="d-flex align-items-center iconosNavbar ">


            <!-- Favoritos -->
            <a class="text-reset me-3 dropdown-toggle hidden-arrow" href="#" id="navbarDropdownMenuLink" role="button"
                aria-expanded="false">
                <i class="fas fa-heart fa-lg" id="favoritos"></i>
                <!--<span class="badge rounded-pill badge-notification bg-danger">1</span>-->
            </a>
            <div class="vr me-3"></div>
            <!-- Login -->
            <a class="text-reset me-3 dropdown-toggle d-flex align-items-center hidden-arrow" href="#"
                id="navbarDropdownMenuLink" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                <i class="fas fa-user fa-lg" id="login" ></i>
            </a>
            <div class="vr me-3"></div>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                <li>
                    <a class="dropdown-item" (click) = "login = true">Iniciar Sesión</a>
                </li>
                <li routerLink="register">
                    <a class="dropdown-item" href="#">Registrarme</a>
                </li>
                <!--Usar Ng Template con Ng else 
                    <li><a class="dropdown-item" href="#">Cerrar Sesión</a></li>-->
            </ul>

            <!-- Carrito de compras -->
            <a class="text-reset me-3 dropdown-toggle hidden-arrow" href="#">
                <i class="fas fa-shopping-cart fa-lg" id="carrito" ></i>
                <span class="badge rounded-pill badge-notification bg-danger">1</span>
            </a>

        </div>
        <!-- Right elements -->
    </div>
    <!-- Container wrapper -->
</nav>
<!-- Navbar -->
<!-- Component login -->
<div *ngIf = "login">
    <app-login></app-login>
</div>