
body{
  background-color: #fe9a40;
  background-image: linear-gradient(90deg, #fe9a40 0%, #FA709A 100%);
}

i {
    cursor: pointer;
  }

img{
  height: 140px;
    margin: auto;
    width: 30%; 
    padding: 10px;
  
}

.ant-input-affix-wrapper{
  border-radius: 10px;
}

.button-login{
  border-radius: 10px;
}
.card{
  width: 30%;
}



@media only screen and (max-width: 425px){
	.card{
        width: 100%;
        height: 100%;
        font-size: 10px;
    }
    .ant-input {
        font-size: 10px;
        
    }
    img{
        height: 90px;
          margin: auto;
          width: 30%; 
          padding: 10px;
        
      }
}

@media only screen and (max-width: 600px){
	.card{
        width: 100%;
        height: 100%;
        font-size: 11px;
    }
    .ant-input {
        font-size: 11px;
        
    }
    img{
        height: 100px;
          margin: auto;
          width: 30%; 
          padding: 10px;
        
      }
}

@media only screen and (max-width: 1200px){
    .card{
        width: 100%;
        height: 100%;
        font-size: 12px;
    }
    .ant-input {
        font-size: 12px;
        
    }

    img{
        height: 110px;
          margin: auto;
          width: 30%; 
          padding: 10px;
        
      }
}

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
/*<h2>MODIFICADO</h2>*/
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
i {
    color: black;
}

div.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    /*font-family: 'Bungee Shade', cursive;*/
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    margin: auto;
    color: white;
}

.iconosNavbar a i{
    color: white;
}

#buttonBars{
    color: white;
}

#favoritos:hover{
    color: red;
}

#login:hover{
    color:turquoise
}

#carrito:hover{
    color: yellow;
}

.nav-item a :hover{
    /*color: turquoise;*/
    color: #fe9a40;
    color: linear-gradient(90deg, #FA709A 0%, #fe9a40 100%);
}

.vr{
    color:white;
    margin: 0;
    
}

