<app-navbar></app-navbar>
<app-carrousel></app-carrousel>
<div class="mt-3 card">
    <div class="row m-3">

        <div class="col-9">
            
            <h2 style="text-align: left; float: left;">Carrito de compra</h2>
            <h2 style="text-align: right; float: right;">3 Items</h2>
            <hr style="clear:both;">
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">NAME</th>
                        <th scope="col">QUANTITY</th>
                        <th scope="col">PRICE</th>
                        <th scope="col">TOTAL</th>
                    </tr>
                </thead>
                <tbody class="font-bold">
                    <tr>
                        <td></td>
                        <td>Iphone</td>
                        <td>1</td>
                        <td>{{ 2500000 | number }}</td>
                        <td>{{ 2500000 | number }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Samsung</td>
                        <td>1</td>
                        <td>{{ 2200000 | number }}</td>
                        <td>{{ 2200000 | number }}</td>
                    </tr>
                </tbody>
            </table>

            <a routerLink="">
                <h6>Continuar Comprando</h6>
            </a>

        </div>
        <div class="col-3">
            <h2>Resumen</h2>
            <hr>
            <h6>SUBTOTAL ${{ 5000000 | number }} </h6>
            <hr>
            <h6>IVA {{ 5000000 * 0.19 | number }}</h6>
            <hr>
            <h6>TOTAL COST</h6>
            <hr>
            <div class="pt-2 text-center button-confirm">
                <button class="btn btn-primary">Confirmar compra</button>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>